.flex {
  display: flex;
  border: 1px solid #333;
}

.flex div {
  border: 1px solid #333;
}

.right {
  width: calc(100% - 400px);
  background-color: white;
  line-height: 5px;
  user-select: none;
}

.left {
  background-color: white;
  width: 400px;
  line-height: 5px;
  font-size: 100%;
  user-select: none;
}

.detail {
  line-height: 200px;
}